.video{
    position:absolute;
    text-align:center;
    width:100%;
    height:100%;
    z-index:-4;
  
  }
  #songInp{
  position:strict;
  z-index:1;
  }
  .click{
  position:strict;
  z-index:1;
  background-color:black;
  color:white;
  }
  .title{
    font-family: "Merriweather";
    font-size: 25px;
    font-weight:bold;
  }
  body{
    text-align:center;
    background-color:#181818;
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(11, 37, 11);
  }
    
  
  .Boxman{
    display: inline-block;
    width: 300px;
    margin: 30px;
    padding: 25px;
    border-radius: 10%;
    background-color:white;
  }